[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
Flake8-pyproject = "*"
flake8 = "*"
flake8-isort = "*"
flake8-quotes = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"

[packages]
apache-airflow = "==2.6.3"
numpy = "*"
openpyxl = "*"
pandas = "*"
pandas-profiling = ">=3.4.0"
pyarrow = "*"

[requires]
python_version = "3.8"
